.product-images {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  cursor: zoom-in;
  user-select: none;
  transition: opacity 0.1s ease-in-out;
}

.product-image .left-arrow,
.product-image .right-arrow {
  background: var(--White);
  width: 45px;
  height: 45px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

.product-image .left-arrow:hover,
.product-image .right-arrow:hover {
  color: var(--orange);
}

.product-image .left-arrow {
  left: 10px;
}
.product-image .right-arrow {
  right: 10px;
}

.product-image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.product-image:hover img {
  opacity: 0.5;
}

.thumbnail-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.thumbnail-image {
  width: 85px;
  height: 85px;
  border-radius: 10px;
  cursor: pointer;
}

.thumbnail-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.thumbnail-image:hover img {
  opacity: 0.5;
}

.active-thumb {
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  .product-images {
    width: 500px;
  }

  .product-image {
    cursor: default;
  }

  .product-image:hover img {
    opacity: 1;
  }

  .product-image .left-arrow,
  .product-image .right-arrow {
    display: block;
  }
  .thumbnail-images {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .product-images {
    width: 100%;
    height: max(60vw, 40vh);
  }
  .product-image {
    border-radius: 0;
  }

  .product-image img {
    border-radius: 0;
  }
}

@media screen and (max-width: 530px) {
  .product-image .left-arrow,
  .product-image .right-arrow {
    width: 35px;
    height: 35px;
  }
}
